[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyecharts = "*"
jaqs = "*"
django = "*"
fire = "*"
sqlalchemy = "*"
neomodel = "*"
django-neomodel = "*"

[dev-packages]
selenium = "*"
"flake8" = "*"
autoflake = "*"

[requires]
python_version = "3.6"
