[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jaqs = "*"
django = "*"
tdata = "*"
django-neomodel = "*"
pyecharts = "*"
ta-lib = "*"
fire = "*"
     
[dev-packages]

[requires]
python_version = "3.6"
